# 1. Importing Libraries

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
import warnings
warnings.filterwarnings('ignore')

# 2. Importing Dataset

In [3]:
df=pd.read_csv('Grades.csv')
df

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,B,A,A,A-,A+,A,A-,A-,A+,...,A-,A-,A,A,A,B+,B+,B,A,3.798
567,CS-97568,A+,A,A,A,A,A,A,A-,A,...,B+,B+,A,A,A-,B,A-,C,A-,3.772
568,CS-97569,B,A,A-,B+,A,A,A,A,A,...,A-,B,A,B+,A,C,B+,A-,A-,3.470
569,CS-97570,A,B+,D,A,D,D+,B-,C-,B-,...,D,B,B,C-,D,C,B,B-,C,2.193
570,CS-97571,C,D,D,C,C,D+,B,C+,C,...,C+,C,B-,D,F,C-,B+,D,C-,1.753

Since all the columns are alphabetical, we will have to convert the columns to numerical values

# 3. Finding null values

In [4]:
#Before converting the categorical columns to numerical, we need to find the null values and assign any value to NaN
df.isnull().sum()

Seat No.      0
PH-121        0
HS-101        0
CY-105        1
HS-105/12     1
MT-111        2
CS-105        0
CS-106        2
EL-102        2
EE-119        2
ME-107        2
CS-107        2
HS-205/20     5
MT-222        5
EE-222        7
MT-224        7
CS-210        7
CS-211        5
CS-203        5
CS-214        6
EE-217        6
CS-212        6
CS-215        6
MT-331        9
EF-303       10
HS-304       10
CS-301       10
CS-302       10
TC-383       10
MT-442       10
EL-332        9
CS-318        9
CS-306        9
CS-312       10
CS-317       12
CS-403       12
CS-421       12
CS-406       85
CS-414       13
CS-419       13
CS-423       14
CS-412       79
CGPA          0
dtype: int64

In [5]:
for i in df.columns:
    if df[i].isnull().any():
        df[i].fillna(-1,inplace=True)
df

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,B,A,A,A-,A+,A,A-,A-,A+,...,A-,A-,A,A,A,B+,B+,B,A,3.798
567,CS-97568,A+,A,A,A,A,A,A,A-,A,...,B+,B+,A,A,A-,B,A-,C,A-,3.772
568,CS-97569,B,A,A-,B+,A,A,A,A,A,...,A-,B,A,B+,A,C,B+,A-,A-,3.470
569,CS-97570,A,B+,D,A,D,D+,B-,C-,B-,...,D,B,B,C-,D,C,B,B-,C,2.193
570,CS-97571,C,D,D,C,C,D+,B,C+,C,...,C+,C,B-,D,F,C-,B+,D,C-,1.753

1. We find if NaN values are present in range of columns<br>
2. We fill the NaN values with '-1'.

In [6]:
# To check for null values after filling NaN
df.isnull().sum()

Seat No.     0
PH-121       0
HS-101       0
CY-105       0
HS-105/12    0
MT-111       0
CS-105       0
CS-106       0
EL-102       0
EE-119       0
ME-107       0
CS-107       0
HS-205/20    0
MT-222       0
EE-222       0
MT-224       0
CS-210       0
CS-211       0
CS-203       0
CS-214       0
EE-217       0
CS-212       0
CS-215       0
MT-331       0
EF-303       0
HS-304       0
CS-301       0
CS-302       0
TC-383       0
MT-442       0
EL-332       0
CS-318       0
CS-306       0
CS-312       0
CS-317       0
CS-403       0
CS-421       0
CS-406       0
CS-414       0
CS-419       0
CS-423       0
CS-412       0
CGPA         0
dtype: int64

No null values are present in any column, now we can go ahead and convert the columns using encoding technique

# 3. Encoding the Categorical columns

In [7]:
df.dtypes

Seat No.      object
PH-121        object
HS-101        object
CY-105        object
HS-105/12     object
MT-111        object
CS-105        object
CS-106        object
EL-102        object
EE-119        object
ME-107        object
CS-107        object
HS-205/20     object
MT-222        object
EE-222        object
MT-224        object
CS-210        object
CS-211        object
CS-203        object
CS-214        object
EE-217        object
CS-212        object
CS-215        object
MT-331        object
EF-303        object
HS-304        object
CS-301        object
CS-302        object
TC-383        object
MT-442        object
EL-332        object
CS-318        object
CS-306        object
CS-312        object
CS-317        object
CS-403        object
CS-421        object
CS-406        object
CS-414        object
CS-419        object
CS-423        object
CS-412        object
CGPA         float64
dtype: object

CGPA column is float type<br>
All other columns are object types

In [8]:
from sklearn.preprocessing import OrdinalEncoder
OE=OrdinalEncoder()
for i in df.columns[1:42]:
    df[i]=df[i].astype(str)

for i in df.columns[1:42]:
    df[i]=OE.fit_transform(df[i].values.reshape(-1,1))
df

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,5.0,10.0,9.0,7.0,9.0,10.0,10.0,9.0,6.0,...,9.0,9.0,9.0,9.0,3.0,1.0,9.0,4.0,3.0,2.205
1,CS-97002,0.0,9.0,11.0,10.0,6.0,6.0,10.0,1.0,11.0,...,11.0,10.0,7.0,10.0,3.0,6.0,7.0,7.0,4.0,2.008
2,CS-97003,0.0,3.0,1.0,6.0,5.0,0.0,6.0,5.0,3.0,...,4.0,4.0,1.0,7.0,1.0,1.0,1.0,3.0,1.0,3.608
3,CS-97004,9.0,7.0,11.0,10.0,10.0,2.0,11.0,9.0,10.0,...,11.0,7.0,11.0,9.0,6.0,4.0,8.0,8.0,8.0,1.906
4,CS-97005,2.0,2.0,3.0,5.0,1.0,0.0,3.0,5.0,1.0,...,6.0,5.0,5.0,6.0,3.0,1.0,3.0,3.0,1.0,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,3.0,0.0,1.0,3.0,2.0,0.0,3.0,3.0,2.0,...,3.0,3.0,1.0,1.0,1.0,5.0,5.0,4.0,1.0,3.798
567,CS-97568,1.0,0.0,1.0,1.0,1.0,0.0,1.0,3.0,1.0,...,5.0,5.0,1.0,1.0,3.0,4.0,3.0,7.0,3.0,3.772
568,CS-97569,3.0,0.0,3.0,5.0,1.0,0.0,1.0,1.0,1.0,...,3.0,4.0,1.0,5.0,1.0,7.0,5.0,3.0,3.0,3.470
569,CS-97570,0.0,4.0,10.0,1.0,10.0,10.0,6.0,9.0,6.0,...,10.0,4.0,4.0,9.0,10.0,7.0,4.0,6.0,7.0,2.193
570,CS-97571,6.0,9.0,10.0,7.0,7.0,10.0,4.0,8.0,7.0,...,8.0,7.0,6.0,10.0,12.0,9.0,5.0,10.0,9.0,1.753

Column 'Seat No' has all the unique values and hence can be dropped

# 4. Exploratory Data Analysis

In [9]:
#1. To find the top 5 rows in the dataset
df.head(5)

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,5.0,10.0,9.0,7.0,9.0,10.0,10.0,9.0,6.0,...,9.0,9.0,9.0,9.0,3.0,1.0,9.0,4.0,3.0,2.205
1,CS-97002,0.0,9.0,11.0,10.0,6.0,6.0,10.0,1.0,11.0,...,11.0,10.0,7.0,10.0,3.0,6.0,7.0,7.0,4.0,2.008
2,CS-97003,0.0,3.0,1.0,6.0,5.0,0.0,6.0,5.0,3.0,...,4.0,4.0,1.0,7.0,1.0,1.0,1.0,3.0,1.0,3.608
3,CS-97004,9.0,7.0,11.0,10.0,10.0,2.0,11.0,9.0,10.0,...,11.0,7.0,11.0,9.0,6.0,4.0,8.0,8.0,8.0,1.906
4,CS-97005,2.0,2.0,3.0,5.0,1.0,0.0,3.0,5.0,1.0,...,6.0,5.0,5.0,6.0,3.0,1.0,3.0,3.0,1.0,3.448

All the columns(apart from CGPA) after transformation are float types<br>
CGPA column is continous data and there are not many unique numbers present<br>
It is a problem of Linear Regression

In [10]:
#2. To find the shape of the dataset
df.shape

(571, 43)

Rows : 571<br>
Columns : 43<br>

In [11]:
#3. To find the column names
df.columns

Index(['Seat No.', 'PH-121', 'HS-101', 'CY-105', 'HS-105/12', 'MT-111',
       'CS-105', 'CS-106', 'EL-102', 'EE-119', 'ME-107', 'CS-107', 'HS-205/20',
       'MT-222', 'EE-222', 'MT-224', 'CS-210', 'CS-211', 'CS-203', 'CS-214',
       'EE-217', 'CS-212', 'CS-215', 'MT-331', 'EF-303', 'HS-304', 'CS-301',
       'CS-302', 'TC-383', 'MT-442', 'EL-332', 'CS-318', 'CS-306', 'CS-312',
       'CS-317', 'CS-403', 'CS-421', 'CS-406', 'CS-414', 'CS-419', 'CS-423',
       'CS-412', 'CGPA'],
      dtype='object')

In [12]:
#4. To find the column types
df.dtypes

Seat No.      object
PH-121       float64
HS-101       float64
CY-105       float64
HS-105/12    float64
MT-111       float64
CS-105       float64
CS-106       float64
EL-102       float64
EE-119       float64
ME-107       float64
CS-107       float64
HS-205/20    float64
MT-222       float64
EE-222       float64
MT-224       float64
CS-210       float64
CS-211       float64
CS-203       float64
CS-214       float64
EE-217       float64
CS-212       float64
CS-215       float64
MT-331       float64
EF-303       float64
HS-304       float64
CS-301       float64
CS-302       float64
TC-383       float64
MT-442       float64
EL-332       float64
CS-318       float64
CS-306       float64
CS-312       float64
CS-317       float64
CS-403       float64
CS-421       float64
CS-406       float64
CS-414       float64
CS-419       float64
CS-423       float64
CS-412       float64
CGPA         float64
dtype: object

All the columns are numericals columns now

In [13]:
df.nunique().to_frame('No.of unique values')

           No.of unique values
Seat No.                   571
PH-121                      13
HS-101                      12
CY-105                      14
HS-105/12                   14
MT-111                      14
CS-105                      11
CS-106                      14
EL-102                      14
EE-119                      13
ME-107                      14
CS-107                      15
HS-205/20                   14
MT-222                      15
EE-222                      14
MT-224                      15
CS-210                      15
CS-211                      15
CS-203                      14
CS-214                      14
EE-217                      14
CS-212                      13
CS-215                      15
MT-331                      13
EF-303                      13
HS-304                      15
CS-301                      13
CS-302                      12
TC-383                      13
MT-442                      13
EL-332                      14
CS-318                      15
CS-306                      14
CS-312                      15
CS-317                      13
CS-403                      12
CS-421                      14
CS-406                      15
CS-414                      14
CS-419                      13
CS-423                      13
CS-412                      14
CGPA                       491

Column "Seat No." has all the rows as unique values and can be dropped, since it doesn't contribute to the CGPA.

In [14]:
df.drop('Seat No.', axis=1, inplace=True)

In [15]:
#Finding number of unique columns after dropping 1st Column
df.nunique().to_frame('No.of unique values')

           No.of unique values
PH-121                      13
HS-101                      12
CY-105                      14
HS-105/12                   14
MT-111                      14
CS-105                      11
CS-106                      14
EL-102                      14
EE-119                      13
ME-107                      14
CS-107                      15
HS-205/20                   14
MT-222                      15
EE-222                      14
MT-224                      15
CS-210                      15
CS-211                      15
CS-203                      14
CS-214                      14
EE-217                      14
CS-212                      13
CS-215                      15
MT-331                      13
EF-303                      13
HS-304                      15
CS-301                      13
CS-302                      12
TC-383                      13
MT-442                      13
EL-332                      14
CS-318                      15
CS-306                      14
CS-312                      15
CS-317                      13
CS-403                      12
CS-421                      14
CS-406                      15
CS-414                      14
CS-419                      13
CS-423                      13
CS-412                      14
CGPA                       491

In [16]:
for i in df.columns:
    print(df[i].value_counts())
    print('\n')

2.0     112
0.0     111
4.0      61
3.0      57
5.0      56
9.0      44
6.0      33
7.0      31
10.0     22
1.0      22
8.0      19
12.0      2
11.0      1
Name: PH-121, dtype: int64


2.0     82
5.0     78
6.0     68
3.0     63
4.0     59
8.0     50
7.0     47
9.0     45
0.0     38
10.0    36
1.0      4
11.0     1
Name: HS-101, dtype: int64


1.0     177
3.0     120
5.0      50
4.0      49
6.0      42
10.0     31
2.0      31
7.0      19
8.0      17
9.0      16
11.0     14
13.0      3
0.0       1
12.0      1
Name: CY-105, dtype: int64


1.0     96
3.0     75
5.0     70
4.0     57
10.0    45
7.0     41
6.0     40
8.0     39
9.0     36
11.0    34
2.0     34
13.0     2
0.0      1
12.0     1
Name: HS-105/12, dtype: int64


3.0     105
1.0     100
6.0      70
5.0      62
4.0      55
9.0      39
8.0      33
7.0      30
10.0     26
2.0      23
11.0     21
13.0      3
0.0       2
12.0      2
Name: MT-111, dtype: int64


0.0     151
2.0     134
4.0      60
3.0      51
1.0      43
5.0      38
7.0      23
6.0      22
8.0      22
10.0     15
9.0      12
Name: CS-105, dtype: int64


3.0     116
5.0     101
4.0      96
1.0      56
6.0      54
8.0      41
11.0     29
9.0      27
10.0     24
7.0      18
2.0       4
0.0       2
13.0      2
12.0      1
Name: CS-106, dtype: int64


3.0     105
1.0      92
5.0      69
4.0      59
6.0      53
10.0     38
8.0      35
9.0      32
7.0      30
2.0      29
11.0     23
13.0      3
0.0       2
12.0      1
Name: EL-102, dtype: int64


3.0     137
5.0      83
4.0      77
1.0      68
6.0      48
7.0      48
8.0      38
11.0     26
9.0      26
10.0     11
2.0       6
0.0       2
12.0      1
Name: EE-119, dtype: int64


3.0     79
1.0     77
5.0     68
10.0    56
6.0     56
4.0     50
7.0     49
9.0     48
8.0     37
11.0    37
2.0      8
13.0     2
0.0      2
12.0     2
Name: ME-107, dtype: int64


1.0     105
3.0      81
5.0      57
4.0      55
9.0      49
6.0      43
2.0      42
10.0     38
8.0      34
11.0     31
7.0      30
0.0       2
14.0      2
13.0      1
12.0      1
Name: CS-107, dtype: int64


3.0     150
1.0     118
4.0      97
5.0      89
6.0      36
8.0      33
7.0      15
9.0      11
11.0      9
0.0       5
10.0      3
2.0       2
12.0      2
13.0      1
Name: HS-205/20, dtype: int64


3.0     86
1.0     80
10.0    66
4.0     61
6.0     52
11.0    46
7.0     43
5.0     42
8.0     39
9.0     30
2.0     16
0.0      5
12.0     3
14.0     1
13.0     1
Name: MT-222, dtype: int64


1.0     122
3.0     121
5.0      65
4.0      53
7.0      39
6.0      35
2.0      32
8.0      29
10.0     25
11.0     21
9.0      16
0.0       7
12.0      4
13.0      2
Name: EE-222, dtype: int64


3.0     120
1.0      80
5.0      65
4.0      57
6.0      49
9.0      43
8.0      39
11.0     37
10.0     31
7.0      30
2.0      10
0.0       7
14.0      1
13.0      1
12.0      1
Name: MT-224, dtype: int64


3.0     133
1.0     101
5.0      84
4.0      59
6.0      58
7.0      30
8.0      27
9.0      24
11.0     21
10.0     12
2.0      12
0.0       7
14.0      1
13.0      1
12.0      1
Name: CS-210, dtype: int64


3.0     68
1.0     67
6.0     60
11.0    56
5.0     56
4.0     56
8.0     55
9.0     50
7.0     39
10.0    33
2.0     21
0.0      5
12.0     3
14.0     1
13.0     1
Name: CS-211, dtype: int64


3.0     88
1.0     81
4.0     66
8.0     62
5.0     59
6.0     53
11.0    39
7.0     35
9.0     35
10.0    30
2.0     15
0.0      5
12.0     2
13.0     1
Name: CS-203, dtype: int64


7.0     76
3.0     73
4.0     63
9.0     57
6.0     56
1.0     56
11.0    47
8.0     46
5.0     45
10.0    31
2.0     12
0.0      6
12.0     2
13.0     1
Name: CS-214, dtype: int64


3.0     137
1.0      97
5.0      70
4.0      63
6.0      57
7.0      36
8.0      29
2.0      22
9.0      20
11.0     19
10.0     12
0.0       6
12.0      2
13.0      1
Name: EE-217, dtype: int64


3.0     101
5.0      86
4.0      81
6.0      65
7.0      44
1.0      43
11.0     36
8.0      35
9.0      35
10.0     33
0.0       6
2.0       4
12.0      2
Name: CS-212, dtype: int64


3.0     79
1.0     68
4.0     64
6.0     59
8.0     50
5.0     50
7.0     48
9.0     47
10.0    42
11.0    38
2.0     17
0.0      6
14.0     1
13.0     1
12.0     1
Name: CS-215, dtype: int64


1.0     118
3.0     103
5.0      64
4.0      57
6.0      46
9.0      32
11.0     31
2.0      30
7.0      28
8.0      27
10.0     22
0.0       9
12.0      4
Name: MT-331, dtype: int64


3.0     112
5.0      92
6.0      61
4.0      59
7.0      58
8.0      56
10.0     49
2.0      38
9.0      19
1.0      14
0.0      10
11.0      2
12.0      1
Name: EF-303, dtype: int64


3.0     128
4.0      72
6.0      70
5.0      66
7.0      58
8.0      53
9.0      33
1.0      28
10.0     20
11.0     19
0.0      10
12.0      6
2.0       4
14.0      2
13.0      2
Name: HS-304, dtype: int64


3.0     108
5.0      74
4.0      71
1.0      66
6.0      60
7.0      41
8.0      37
9.0      36
10.0     29
11.0     29
0.0      10
2.0       9
12.0      1
Name: CS-301, dtype: int64


3.0     113
4.0     102
1.0      86
5.0      81
6.0      60
8.0      32
7.0      28
10.0     21
9.0      19
11.0     10
0.0      10
2.0       9
Name: CS-302, dtype: int64


1.0     105
3.0      73
5.0      68
4.0      59
8.0      44
11.0     44
9.0      42
7.0      42
6.0      40
2.0      23
10.0     20
0.0      10
12.0      1
Name: TC-383, dtype: int64


3.0     140
1.0     130
5.0      65
4.0      47
2.0      39
6.0      30
9.0      28
8.0      24
7.0      24
10.0     20
11.0     13
0.0      10
12.0      1
Name: MT-442, dtype: int64


3.0     96
1.0     76
5.0     68
4.0     67
6.0     62
7.0     49
8.0     38
9.0     32
11.0    22
10.0    22
2.0     20
0.0      9
12.0     9
13.0     1
Name: EL-332, dtype: int64


3.0     89
6.0     69
4.0     68
5.0     65
7.0     53
8.0     49
1.0     42
9.0     40
10.0    36
11.0    29
12.0    10
0.0      9
2.0      6
14.0     5
13.0     1
Name: CS-318, dtype: int64


3.0     120
5.0      75
1.0      74
6.0      64
4.0      53
9.0      40
7.0      37
8.0      36
10.0     31
11.0     18
2.0      10
0.0       9
12.0      3
13.0      1
Name: CS-306, dtype: int64


2.0     93
1.0     86
3.0     63
11.0    52
7.0     48
9.0     44
5.0     42
4.0     37
8.0     37
6.0     36
10.0    19
0.0     10
12.0     2
13.0     1
14.0     1
Name: CS-312, dtype: int64


6.0     79
4.0     75
7.0     70
3.0     66
5.0     58
8.0     57
1.0     47
9.0     41
11.0    34
10.0    16
0.0     12
2.0      9
12.0     7
Name: CS-317, dtype: int64


1.0     133
3.0     106
5.0      62
6.0      55
4.0      54
11.0     35
7.0      33
8.0      32
9.0      30
2.0      15
0.0      12
10.0      4
Name: CS-403, dtype: int64


4.0     86
6.0     74
7.0     68
8.0     61
9.0     60
5.0     60
3.0     47
11.0    36
1.0     25
10.0    21
12.0    17
0.0     12
2.0      2
13.0     2
Name: CS-421, dtype: int64


3.0     177
0.0      85
1.0      79
5.0      64
4.0      58
6.0      22
8.0      22
7.0      19
11.0     14
9.0       8
2.0       8
12.0      6
10.0      5
13.0      3
14.0      1
Name: CS-406, dtype: int64


1.0     176
3.0     156
5.0      62
4.0      54
6.0      21
2.0      21
8.0      21
7.0      20
0.0      13
9.0      12
12.0      7
11.0      3
10.0      3
13.0      2
Name: CS-414, dtype: int64


3.0     120
4.0      89
5.0      85
6.0      78
1.0      56
8.0      46
7.0      40
9.0      20
0.0      13
11.0     13
10.0      7
2.0       2
12.0      2
Name: CS-419, dtype: int64


3.0     122
1.0      78
5.0      75
4.0      65
6.0      56
7.0      45
8.0      39
9.0      29
11.0     25
10.0     15
0.0      14
12.0      5
2.0       3
Name: CS-423, dtype: int64


3.0     157
5.0      80
0.0      79
1.0      77
4.0      65
6.0      37
8.0      24
7.0      19
11.0      8
9.0       7
12.0      6
10.0      5
2.0       4
13.0      3
Name: CS-412, dtype: int64


3.019    5
3.058    3
2.793    3
3.443    3
2.206    3
        ..
2.555    1
2.042    1
2.634    1
2.053    1
1.753    1
Name: CGPA, Length: 491, dtype: int64

There is no white spaces or blank spaces in any column<br>
In column CGPA, out of 571 rows, 491 are unique values, this shows at almost all the value as unique value and no category is present

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 42 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PH-121     571 non-null    float64
 1   HS-101     571 non-null    float64
 2   CY-105     571 non-null    float64
 3   HS-105/12  571 non-null    float64
 4   MT-111     571 non-null    float64
 5   CS-105     571 non-null    float64
 6   CS-106     571 non-null    float64
 7   EL-102     571 non-null    float64
 8   EE-119     571 non-null    float64
 9   ME-107     571 non-null    float64
 10  CS-107     571 non-null    float64
 11  HS-205/20  571 non-null    float64
 12  MT-222     571 non-null    float64
 13  EE-222     571 non-null    float64
 14  MT-224     571 non-null    float64
 15  CS-210     571 non-null    float64
 16  CS-211     571 non-null    float64
 17  CS-203     571 non-null    float64
 18  CS-214     571 non-null    float64
 19  EE-217     571 non-null    float64
 20  CS-212     571 non-null    float64
 21  CS-215     571 non-null    float64
 22  MT-331     571 non-null    float64
 23  EF-303     571 non-null    float64
 24  HS-304     571 non-null    float64
 25  CS-301     571 non-null    float64
 26  CS-302     571 non-null    float64
 27  TC-383     571 non-null    float64
 28  MT-442     571 non-null    float64
 29  EL-332     571 non-null    float64
 30  CS-318     571 non-null    float64
 31  CS-306     571 non-null    float64
 32  CS-312     571 non-null    float64
 33  CS-317     571 non-null    float64
 34  CS-403     571 non-null    float64
 35  CS-421     571 non-null    float64
 36  CS-406     571 non-null    float64
 37  CS-414     571 non-null    float64
 38  CS-419     571 non-null    float64
 39  CS-423     571 non-null    float64
 40  CS-412     571 non-null    float64
 41  CGPA       571 non-null    float64
dtypes: float64(42)
memory usage: 187.5 KB

All the columns are non-null columns<br>
Total Columns : 42<br>
Numerical columns : 41 <br>
Object columns : 1 <br>

# 5. Description of Dataset

In [18]:
df.describe()

,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
count,571.000000,571.000000,571.000000,571.000000,571.000000,571.000000,571.000000,571.000000,571.000000,571.000000,...,571.000000,571.000000,571.000000,571.000000,571.000000,571.000000,571.000000,571.000000,571.000000,571.000000
mean,3.781086,5.071804,3.896673,5.239930,4.886165,2.838879,5.112084,4.949212,4.875657,5.768827,...,5.036778,5.709282,4.411559,6.301226,3.537653,3.374781,4.788091,4.893170,3.633975,2.954888
std,3.046895,2.785317,2.966747,3.203104,3.000468,2.696709,2.741119,3.043407,2.670886,3.160470,...,3.404390,2.865322,3.008259,2.859944,2.848804,2.525587,2.476330,2.884466,2.717875,0.620552
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.800000
25%,2.000000,3.000000,1.000000,3.000000,3.000000,0.000000,3.000000,3.000000,3.000000,3.000000,...,2.000000,4.000000,1.000000,4.000000,1.000000,1.000000,3.000000,3.000000,1.000000,2.538000
50%,3.000000,5.000000,3.000000,5.000000,5.000000,2.000000,5.000000,4.000000,4.000000,6.000000,...,4.000000,6.000000,4.000000,6.000000,3.000000,3.000000,5.000000,5.000000,3.000000,3.029000
75%,6.000000,7.000000,5.500000,8.000000,7.000000,4.000000,6.000000,7.000000,7.000000,9.000000,...,8.000000,8.000000,6.000000,8.000000,5.000000,5.000000,6.000000,7.000000,5.000000,3.451000
max,12.000000,11.000000,13.000000,13.000000,13.000000,10.000000,13.000000,13.000000,12.000000,13.000000,...,14.000000,12.000000,11.000000,13.000000,14.000000,13.000000,12.000000,12.000000,13.000000,3.985000

Statistical information of numerical columns:<br>
Mean>Median : <br>
Mean<Median : <br>
Difference between 3rd quartile and Maximum value : <br>